@media (max-width: 1000px) {
	
	.container-services {
		min-height: 200vh;
	}
	.content { 
		width: 50%;
		margin-bottom: 50px;
	}

	.btn-wrapper {
	    margin: auto;
	    width: 50%;
	    height: 50px;
	 }

	.btn {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 1.4em;
		display: inline-block;
	}



@media (max-width: 800px) {
	/*-----------navbar---*/
	label {
		display: block;
		cursor: pointer;
		line-height: 64px;
	}

	.navbar-links {
       	display: none;
       	width: 100%;
    }

    .navbar {
    	flex-direction: column;
    	align-items: flex-start;

    }

    .navbar-links ul {
    	width: 100%;
    	flex-direction: column;

    }

    .navbar-links li {
    	text-align: right;
    }

    .navbar-links li:hover {
    	background-color: red;
    	color: white;
    }

    
    #toggle {
    	display: none;
    }
    
    #toggle:checked + .navbar .navbar-links {
    	display: block;
    	margin-top: 10px;

    }

	/*-----------footer---*/
	footer {
		text-align: center;
		margin-top: -50px;
    	clear: both;
    	height: 100px;
    	background-color: #999999;
    	justify-content: space-between;
    	padding: 20px 2.5%;
    	
	}

/*-----------index.html---*/
   
	.container-services {
		min-height: 300vh;
	}

	.heading-target h2 {
		font-size: 1.4em;
	}

	.heading-target h1 {
		font-size: 1.6em;
	}

	.target-list {
    justify-content: space-evenly;
    margin: 10px 0 150px 50px;
  }

	.content {
		width: 100%;
	}

	.btn {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 1.4em;
		padding: 5px 5px;
		display: inline-block;
	}

	.btn-wrapper {
	    margin: auto;
	    width: 50%;
	    height: 50px;
	 }

  	.title-content {
		font-size: 32px;
	}

	.txt-content {
		font-size: 18px;
	}

	.content-target {
    width: 100%;
    height: 200px;
    padding: 0 50px;
  	}

	.service-item {
	   padding:  50px;
	   width:  100%;
	   height:  400px;
	}

	.image-service-item {
	  width: 100%;
	  height: 400px;
	  margin: 5px;
	  padding: 0;
	  background-size: cover;
	}

	 .icon-service {
	  width: 90%;
	  height: 90%;
	}

.sliders .heading {
    font-size: 1.6em;
   }
/*--------------------------- begin about.html */
	.title-values {
    	padding: 40px 50px 5px 20px;
    }

  
	.services-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   	}

	.image-services-item {
    padding: 50px 0 5px 0;
	}

	.title-services {
    padding: 50px 50px 0 150px;
    }


/*--------------------------- begin feature.html */
    .pagesfeature {
     height: 400px;
    
     }

    .image-feature-item {
    padding: 330px 5px 5px 150px;
       
  }

    .icon-feature {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: contain;
    float: center;
  	}

  	.title-feature {
  		margin-top: 300px;
  	}

.schedule-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
	 /*.image-schedule-item {
    width: 90%;
    height: 500px;
    padding: 50px 5px 5px 5px;
    margin-right: 50px;

  }*/


	}
}




@media (max-width: 500px) {
/*--------------------------- index.html */

	.main-narrative {
    margin: 50px 10px 10px 10px;
  }

	.content-target {
    padding: 0 ;
  	}

.service-item {
	   padding:  50px;
	   width:  100%;
	   height:  400px;
	}


/*--------------------------- begin about.html */

	.values-narrative {
    font-size: 1.2em;
    padding-left: 50px;
    margin: 50px 0 30px 0;

  }
	.image-values-item {
    width: 300px;
    height: 300px;
    padding: 50px 50px 5px 5px;
    margin-left: 50px;



}

