  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
  }

  body {
    font-family: candara, sans-serif;
  }

  .home {
      background-image: url("images/back_home.png"); 
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100vh; 
      
  }

  /*.pageimage-home {
    background-image: url("images/about.png");
    width: 100%;
    height: 400px;
    object-fit: contain;
  }*/
  
  /*-------------------------------------navbar*/
  
  .navbar {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 5px 0;
    margin-top: 10px;
    align-items: center;
    }


  .nav-logo img {
    width: 170px;
    height: 50px;
    padding-left: 20px;
    
  }

  .nav-logo img:hover {
    background: url("images/splashing_logowhite.png") no-repeat
  }


  .nav-list img {
  width: 90px;
  height: 30px;
}

.nav-list img:last-child {
  display: none;  
}
.nav-list:hover img:last-child {
  display: block;  
}
.nav-list:hover img:first-child {
  display: none;  
}




  label {
    padding: 0 40px 0 0;
    float: right;
    font-size: 2em;
    font-weight: bolder;
    line-height: 70px;
    display:none;
    background-color: #f2f2f2
  }

  #toggle {
    background-color: #f2f2f2;
    float: right;
    display: none;

  }
 

  nav ul {
    list-style: none;
    color: white;
    padding-right: 10px;
    display: flex;
      
  }

  nav li {
    font-size: 1.2em;
    padding: 10px;

  }

  nav li:hover {
    background-color: red;

  }

  nav a {
    color: grey;
    text-decoration: none;
    
  }

  nav a:hover {
    color: white;
  }


  /*covering overall particular page*/
  .page-container {  
    min-height: 100vh;
  }
/*-----------------------------index.html--*/
  .home-content {
    color: white;
    /*background-color: #999999;*/

  }

  .heading-target {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 200px;
    padding-top: 50px;
    font-size: 2em;
  }

  .heading-target h2 {
    margin-bottom: 30px;
  }

  .heading-target h1 {
   margin-bottom: 30px;
  }

  .main-narrative {
    font-size: 1.4em;
    text-align: center;
    margin: 100px 0 10px 0;
  }

  .target-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    padding: 10px 10%;
    align-items: center;
    margin: 10px 0 150px 100px;
  }

  .title-target {
    margin-bottom: 10px;
  }

  .talents {
    font-size: 1.2em;
    flex: 1;
  }

  .organization {
    flex: 1;
  }

  .content-target {
    width: 400px;
    height: 200px;
    padding: 0 50px;
  }


  .btn-wrapper {
    margin: auto;
    width: 15%;
   }

  .btn {
    padding: 12px 24px;
    font-size: 18px;
    color: red;
    opacity: 0.8;
    border-radius: 10px;
    margin: 100px 0 50px 0;
    text-decoration: none;
    background-color: #F8D9D9;
    align-items: center;
  }

  .sliders {
    min-height: 100vh;
    width: 100%;
    padding: 0 20px 40px 20px;
    margin: 80px 10px 70px 0;
    font-family: Candara, sans-serif;
    background-color: #BDB9B8;
  }

  .sliders .heading {
    padding: 10px 0 10px 0;
    text-align: center;
   }


  .container-services {
    min-height: 100vh;
    width: 100%;
    padding: 50px 20px 20px 20px;
    margin: 88px 10px 70px 0;
    font-family: Candara, sans-serif;
    background-color: #999999;
  }


  .heading-index {
    text-align: center;
   }

   .heading-index h1 {
    color: grey;
    font-size: 60px;
    text-align: center;
   }


   .heading {
    padding: 100px 0 50px 0;
    text-align: center;
   }

   .heading h1 {
    color: white;
    font-size: 60px;
    text-align: center;
   }

  .listservice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .service-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: .3s;
    flex: 1;
}

.image-service-item {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 500px;
  margin: 5px;
  padding: 5px;
  background-size: cover;
  background-position: center center;
  flex: 1;
  position: absolute;
}

.icon-service {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title-text {
  position: relative;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  /*text-align: center;*/
  line-height: 20px;
  bottom: 10px;
  z-index: 3;
  }

   /*--------------------------- begin about.html */

  .pagesimage-about {
    background-image: url("images/about.png");
    width: 100%;
    height: 400px;
    object-fit: contain;
   
  }

  .values-narrative {
    font-size: 1.2em;
    padding-left: 100px;
    margin: 50px 0 30px 0;

  }

  .values-container {
    margin-bottom: 100px;
  }

  .header-heading {
    margin: 0 auto;
   /* padding-top: 200px;*/
  }

  .image-values-item {
    width: 200px;
    height: 200px;
    padding: 50px 5px 5px 50px;
    margin-left: 50px;

  }

  .icon-values {
    /*display: block;*/
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
  }

  .title-values {
    /*display: flex;*/
    padding: 70px 50px 0 10px;
    flex: 1;
  }

  .title-values h3 {
    color: #999999;
    font-size: 1.8em;
  }

  .content-values {
    font-size: 1.2em;
  }

  /*----------------------------ourservice.html*/

.pagesimage-services {
    background-image: url("images/about.png");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
   
  }

  .services-list .contact-list{
    background-color: #f2f2f2;
  }

  .services-item {
    display: flex;
    justify-content: right;
    margin-left: 20px;
  }

  .image-services-item {
    width: 400px;
    height: 300px;
    padding: 50px 5px 5px 100px;
    
  }
  .image-services-item img {
    border-radius: 10px;
    border: 2px solid red;
  }

  .icon-services {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-services {
    display: flex;
    padding: 100px 100px 0 20px;
    flex: 1;
  }

  .title-services h3 {
    color: #999999;
    font-size: 1.8em;
  }

  .content-service {
    font-size: 1.2em;
  }

  /*-----------------------expertise.html*/

.pagesimage {
    background-image: url("images/about.png");
    width: 100%;
    height: 400px;
    object-fit: contain;
   }

  .heading-expert {
    font-size: 1.8em;
    padding: 20px;
  }

  .trainings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  

  ul.expert {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

    .trainings-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-radius: 4px;
    background-color: #fff;
    text-align: left;
    margin: 10px;
    padding: 10px;
    flex: 1;
  }


  .title-training-groups {
    display: flex;
    padding: 10px 50px 0 20px;
    width: 500px;
    flex: 1;
  }

  .title-training-groups h3 {
    color: #999999;
    font-size: 1.4em;
  }

  
  .expert {
    font-size: 1.1em;
  }

/*-------------------------feature.html*/

.pagesfeature {
    background-image: url("images/imagebg.png");
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
   
  }

  .heading-feature {
    display: flex;
    align-content: space-between;
    padding-left: 20px;

  }

.feature-item {
    min-height: 100vh;
    margin-bottom: 50px;
}

.image-feature-item {
   display: flex;
    width: 400px;
    height: 300px;
    padding: 50px 5px 5px 650px;
    align-content: center;
    
  }
  .image-feature-item img {
    border-radius: 10px;
    border: 2px solid red;
  }

  .icon-feature {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: contain;
    float: left;
  }

.title-feature h3 {
    color: #999999;
    font-size: 1.6em;
    padding: 50px 50px 25px 50px;
  }

.feature-narrative {
  font-size: 1.2em;
  padding: 0 0 0 50px;
  
}

.text-box img {
  width: 30px;
  height: 30px;
}

.image-schedule-item {
    width: 500px;
    height: 500px;
    padding: 50px 5px 5px 5px;
    margin-right: 50px;

  }

  .icon-schedule {
    
    width: 100%;
    height: 100%;
  }

  .schedule-item {
    display: flex;
    justify-content: space-between;
    width:  90% ;
    margin-left: 20px;
  }

.title-schedules {
    /*display: flex;*/
    padding: 70px 20px 0 10px;
    /*flex: 1;*/
  }

  .text-schedules {
    font-size: 1.3em;
    margin-left: 25px ;
  }

  .content-schedules {
    font-size: 1em;
  }

@keyframes slide {
  0%{
    left: 0;
  }
  5.9%{
    left: 0;
  }
  11.8%{
    left: -100%;
  }
  17.7%{
    left: -100%;
  }
  23.6%{
    left: -200%;
  }
  29.5%{
    left: -200%;
  }
  35.4%{
    left: -300%;
  }
  41.3%{
    left:  -300%;
  }
  47.2%{
    left: -400%;
  }
  53.1%{
    left: -400%;
  }
  59%{
    left:  -500%;
  }
  64.9%{
    left: -500%;
  }
  70.8%{
    left: -600%;
  }
  76.7%{
    left: -600%;
  }
  82.6%{
    left: -700%;
  }
  88.5%{
    left: -700%;
  }
  
  100%{
    left: 0;
  }
}

#slider {
  overflow: hidden;
  width:  500px;
  height:  auto;
  margin-bottom: 50px;
  margin:  0 auto;
}

#slider figure img {
  float:  left;
  width:  12.5%;
}

#slider figure {
  position:  relative;
  margin-top:  50px;
  width:  800%;
  height:  100%;
  animation: slide 30s infinite;
}


  /*-----------------------contact.html*/

.pagesimage-contact {
    background-image: url("images/backgr2.png");
    width: 100%;
    height: 400px;
    object-fit: contain;
   
  }

  .contact-container {
    padding: 40px 0;
    margin: 0 0 0 50px;
    font-size: 1.4em;
  }


  .contact-list{
    background-color: #f2f2f2;
    width: 100%;
    height: 150vh;
  }

 
  .image-contact-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    
  }
  .image-contact-item img {
    border-radius: 5px;
    border: 1px solid red;
  }

  .icon-contact {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title-contact {
    display: flex;
    padding: 50px 100px 0 20px;
    flex: 1;
  }

  .title-contact h3 {
    color: #999999;
    font-size: 1.8em;
    padding-left: 10px;
  }

  .contact-point {
    display: flex;

  }

  .contact-point a {
    text-decoration: none;
  }

  .content-contact {
    font-size: 1.2em;
    padding-top: 12px;
  }


  /*------------------------footer*/
  footer {
    margin-top: -50px;
    clear: both;
    height: 30px;
    display: flex;
    background-color: #999999;
    justify-content: space-between;
    padding: 20px 2.5%;
    align-items: center;
  }

  .footer-logo img {
    width: 30px;
    height:30px;

  }

  footer li {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
  }

  footer li:hover {
    background-color: red;
  }

  footer a {
    text-decoration: none;
  }
  footer a:hover {
    color: white;
  }

.footer-menu img {
  width: 60px;
  height: 20px;
}

.footer-menu img:last-child {
  display: none;  
}
.footer-menu:hover img:last-child {
  display: block;  
}
.footer-menu:hover img:first-child {
  display: none;  
}
